.header {
  width: 100%;
  height: 10vh;
  background-color: #202a44;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 7%;
}

.login-btn {
  width: 100px;
  height: 35px;
  background-color: #ffffff;
  border: 0px;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  right: 7%;
  color: #202a44;
  font-size: 16px;
  font-weight: bold;
}

.login-btn:hover {
  background-color: #ced6ea;
}

.link {
  margin-right: 1.2rem;
  width: 5rem;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.07rem;
  font-weight: 600;
  color: #ced6ea;
}

.link-active {
  margin-right: 1.2rem;
  width: 5rem;
  border: 0px;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: underline;
  font-size: 18px;
  letter-spacing: 0.07rem;
  font-weight: 600;
  color: #ffffff;
}
